:root {
  --accent-color: #cda274;
  --main-color: #292f36;
  --subtitle-color: #4d5053;
  --darkbackground-color: #fff;
  --additional-color: #f4f0ec;
  --border-color: #e7e7e7;
  --footer-line-color: #e5e5e5;
}

body {
  font-family: "Jost";
}

.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  padding-top: 26px;
  padding-bottom: 18px;
  position: fixed;
  width: 100%;
  background: #4d50539c;
  /* backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); */
}

.header-box {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 177px;
  height: 50px;
  margin-right: auto;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link:hover {
  color: var(--accent-color);  

}

.nav-link {
  color: var(--main-color);
  font-size: 19px;
  font-weight: 400;
  line-height: 1.57;
  letter-spacing: 0.4px;
  position: relative;
  transition-property: color;
  transition-duration: 350ms;
}

.nav-link:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--accent-color);
  opacity: 0;
  position: absolute;
  bottom: -30px;
  left: 0;
  transition-property: transform;
  transition-duration: 350ms;
  transform: scale(0);
}

/* .nav-link:hover:after {
  opacity: 1;
  transform: scale(1);
} */

.hero-section {
  padding-top: 188px;
  padding-bottom: 250px;
  background-image: url(../img/hero-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 250px;
}

.hero-title {
  color: var(--main-color);
  font-family: "DM Serif Display";
  font-size: 80px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.22px;
  margin-bottom: 19px;
  /* position: sticky;
 top: 0; */
}

.hero-span {
  display: block;
}

.hero-subtitle {
  color: var(--subtitle-color);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.hero-button {
  color: var(--darkbackground-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.72px;
  padding: 22px 67px 22px 34px;
  background-image: url(../img/buttonbackground.png);
  width: 207px;
  height: 71px;
  border: none;
  fill: #292f36;
  stroke-width: 2px;
  stroke: #292f36;
  margin-top: 35px;
}

.main-learning {
  padding-top: 100px;
}

.learning-list {
  display: flex;
  justify-content: center;
}

.learning-item {
  padding: 75px 40px 70px 40px;
}

.learning-item:nth-child(2) {
  .viewmore-div {
    margin-top: 15px;
  }
}

.learnig-title {
  color: var(--main-color);
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 25px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.22px;
  margin-bottom: 17px;
}

.learning-subtitle {
  color: var(--subtitle-color);
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.viewmore-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 20px 98px 0px 98px;
  margin-top: 48px;
}

.learning-link {
  color: var(--subtitle-color);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.36px;
}

.learning-image {
  width: 24px;
  height: 17px;
  flex-shrink: 0;
}

.main-consultation {
  padding-top: 100px;
  padding-bottom: 139px;
}

.consultation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 77px;
}

.consultation-title {
  color: var(--main-color);
  font-family: "DM Serif Display";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.22px;
  margin-bottom: 42px;
}

.consultation-text {
  color: var(--subtitle-color);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.consultation-div {
  margin-top: 30px;
  margin-bottom: 11px;
  display: flex;
  align-items: center;
  max-width: 50%;
}

.consultation-div img {
  margin-right: 20px;
}

.consultation-phoneicon {
  padding: 29px 29px 30px 30px;
  background-image: url(../img/phonebackground.png);
  width: 93px;
  height: 93px;
}

.contact-info {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.cosultation-number {
  color: var(--subtitle-color);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.consultation-button {
  color: var(--darkbackground-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.72px;
  background-image: url(../img/buttonbackground.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 263px;
  height: 71px;
  padding: 21px 67px 23px 34px;
  border-radius: 18px;
  border: 2px solid var(--main-color);
  margin-top: 50px;
}

.consultation-image {
  border-radius: 0px 326px 0px 123px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.main-opinion {
  background-image: url(../img/opinionbackground.png);
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 70px;
}

.opinion-container {
  padding-top: 103px;
}

.opinion-title {
  color: var(--main-color);
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 45px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.22px;
  display: flex;
  flex-direction: column;
}

.opinion-list {
  display: flex;
  gap: 18px;
  padding: 0 51px 121px 51px;
  margin-top: 47px;
}

.opinion-item {
  background-color: #fff;
  padding: 49px 30px 45px 35px;
  border-radius: 30px;
}

.opinion-div {
  margin-bottom: 25.39px;
  display: flex;
}

.opinion-image {
  width: 77px;
  height: 77px;
  margin-right: 20px;
  border-radius: 100px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  margin-right: 20px;
}

.opinion-subtitle {
  color: var(--main-color);
  font-family: "DM Serif Display";
  font-size: 25px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.opinion-locationt {
  color: var(--subtitle-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.opinion-text {
  color: var(--subtitle-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.opinion-items {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 30px;
}

.opinion-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.opinion-link:hover,
.opinion-link:focus {
  background-color: #cda274;
  outline: 0px solid transparent;
  .opinion-icon {
    fill: antiquewhite;
  }
}

.opinion-icon {
  width: 20px;
  height: 20px;
  fill: grey;
}

.main-brands {
  padding-top: 140px;
  padding-bottom: 100px;
}

.brands-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-project {
  padding-bottom: 80px;
}

.project-title {
  color: var(--main-color);
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 47px;
  font-weight: 400;
  line-height: 1.32;
  letter-spacing: 0.22px;
}

.project-text {
  color: var(--subtitle-color);
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 60px;
}

.project-div {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}

.project-subtitle {
  color: var(--main-color);
  font-family: "DM Serif Display";
  font-size: 25px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.project-item-text {
  color: var(--subtitle-color);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.project-arrow {
  background: var(--additional-color);
  padding: 27px 30px 27px 31px;
  border-radius: 100px;
}

.main-experience {
  padding-top: 154px;
  padding-bottom: 140px;
  background-color: var(--additional-color);
}

.experience-list {
  display: flex;
  justify-content: space-around;
}

.experience-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-item:first-child {
  padding: 50px 55px 10px 33px;
}

.experience-item:nth-child(2) {
  padding: 50px 78px 10px 57px;
}

.experience-item:nth-child(3) {
  padding: 50px 86px 10px 65px;
}

.experience-item:nth-child(4) {
  padding: 50px 67px 10px 47px;
}

.experience-item:not(:last-child) {
  border-right: 2px solid var(--accent-color);
}

.experience-image {
  margin-bottom: 45px;
  display: block;
}

.experience-text {
  color: var(--subtitle-color);
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.main-blogs {
  padding-top: 142px;
  padding-bottom: 100px;
}

.blogs-title {
  color: var(--main-color);
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 48px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.22px;
  margin-bottom: 21px;
}

.blogs-title-text {
  color: var(--subtitle-color);
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}

.blogs-list {
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
  justify-content: space-between;
}

.blogs-item {
  border-radius: 62px;
  padding: 20px 20px 40px 20px;
  border: 1px solid #e7e7e7;
}

.blogs-position {
  position: relative;
}

.blogs-image {
  border-radius: 45px 45px 0px 0px;
  margin-bottom: 15px;
}

.blogs-button {
  color: var(--subtitle-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
  padding: 9px 11px;
  border-radius: 8px 8px 8px 0px;
  background: var(--darkbackground-color);
  border: none;
  position: absolute;
  top: 223px;
  left: 24px;
}

.blogs-subtitle {
  color: var(--main-color);
  font-family: "DM Serif Display";
  font-size: 25px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.blogs-text {
  color: var(--subtitle-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.blogs-div {
  gap: 149px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blogs-arrow-image {
  background: var(--additional-color);
  padding: 18px 22px 18px 21px;
  border-radius: 100px;
}

.main-connect {
  background-image: url(../img/connectbackground.png);
  border-radius: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 414px;
}

.connect-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 174px;
}

.connect-title {
  color: var(--darkbackground-color);
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 50px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.connect-subtitle {
  color: var(--darkbackground-color);
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.connect-button {
  color: var(--darkbackground-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
  padding: 21px 67px 23px 34px;
  background-image: url(../img/connectarrow.png);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 20px;
  fill: var(--accent-color);
  stroke-width: 2px;
  stroke: var(--accent-color);
  filter: drop-shadow(1px 0px 18px rgba(0, 0, 0, 0.2));
  margin-top: 31px;
}

.footer {
  padding-top: 80px;
}

.footer-section {
  padding-top: 50px;
  padding-bottom: 80px;
}

.footer-div-container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.footer-logo-text {
  color: var(--subtitle-color);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 10px;
}

.footer-icon {
  padding: 19.2px 152px 14.8px 0px;
  gap: 40px;
  display: flex;
}

.pages-title,
.navigation-title,
.address-title {
  color: var(--main-color);
  font-family: "DM Serif Display";
  font-size: 25px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
  margin-bottom: 22px;
}

.pages-item,
.navigation-item,
.address-item {
  margin-bottom: 30px;
}

.pages-item:last-child,
.navigation-item:last-child,
.address-item:last-child {
  margin-bottom: 0;
}

.footer-page,
.navigation-link,
.address-link {
  color: var(--subtitle-color);
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.address-link {
  display: flex;
  flex-direction: column;
}

.footer-bottom {
  padding-top: 35px;
  padding-bottom: 36px;
}

.bootom-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-bottom {
  border-top: 1px solid var(--footer-line-color);
}

.footer-bottom-text {
  color: var(--subtitle-color);
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.footer-bottom-link {
  color: var(--accent-color);
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.scrolltotop {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #cda274;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.scrolltotop:hover {
  background: transparent;
  outline: 2px solid var(--accent-color);
  .scrollicon {
    fill: var(--accent-color);
  }
}

.scrollicon {
  width: 30px;
  height: 30px;
  fill: var(--subtitle-color);
}
